.itemBox1 {
    border: 2px solid red;
    margin-bottom: 10px;
    width: 70px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.itemBox2 {
    border: 2px solid red;
    margin-bottom: 10px;
    width: 70px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.fruitContainer {
    margin-bottom: 50px;
    border: 5px solid blue;
    height: 400px;
    width: 700px;
}

.storageBox {
    margin-bottom: 50px;
    border: 5px solid blue;
    height: 400px;
    width: 700px;
}